.brownText
{
    color: #5b1a04 !important;
}

.yellowText
{
    color: #fefb64 !important;
}

/* To have slider centered of page and smaller */
.slider
{
    width: 45% !important;
    height: 30% !important;
    margin: auto;
}

.slides
{
    height: 300px !important;
}

/* For quote switching buttons: */
.slides a:first-of-type
{
    position: absolute;
    top: 42%;
    left: 2%;
    z-index: 1000;
}

.slides a:last-of-type
{
    position: absolute;
    top: 42%;
    right: 2%;
    z-index: 1000;
}

.slides a
{
    background-color: #5b1a04;
}

.slides a:hover
{
    background-color: #330f03;
}

/* Navigation panel */
nav
{
    background-color: #fefb64 !important;
}

#nav-mobile
{
    position: absolute;
    top: 0;
    right: 0;
}

.tabs
{
    width: 50% !important;
}

.tabs .tab
{
    text-transform: none !important;
    width: 25% !important;
    font-weight: 700;
}

.tabs .tab a
{
    font-size: 1.5em !important;
}

.brand-logo
{
    width: 50% !important;
    margin: auto;
    color: #5b1a04 !important;
}

nav img
{
    width: 10%;
    display: block;
    margin: auto;
}

/* Choconana Part */
#choconana
{
    display: flex;
}

/* THESE THREE COMPONENTS HAVE TO BE MADE RESPONSIVE*/
#leftOfChoconana
{
    max-width: 25%;
    width: 25%;
    height: auto;
}
#leftOfChoconana img
{
    width: 100%;
    height: auto;
}

#middleOfChoconana
{
    width: 50%;
    height: auto;
}
#middleOfChoconana img
{
    width: 100%;
    height: auto;
}

#rightOfChoconana
{
    max-width: 25%;
    width: 25%;
    height: auto;
}
#rightOfChoconana img
{
    width: 100%;
    height: auto;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* Team Part */
.row h1
{
    width: 25%;
    margin: auto;
}

/* Footer */
footer
{
    background-color: #5b1a04 !important;
}

footer .card-action
{
    width: 25%;
    margin: auto;
}

footer .card-action .btn
{
    background: none !important;
    box-shadow: none !important;
}

footer .card-action .btn:hover
{
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%) !important;
}